# Box-fans margins

Import needed modules

In [1]:
import pandas as pd
from pandas import ExcelWriter
import time

Import Excel file

In [2]:
%%time
file = 'Sales.xlsx'
cols = ['Customer no', 'Order no', 'Customer´s order no', 'Order date',
        'Product group descr', 'Qty', 'Amount', 'Cost amount']
df = pd.read_excel(file, usecols = cols, skiprows = [1])

Wall time: 12 s

Use only Systemair Morocco client (MA010 & C960)

In [3]:
df = df[(df['Customer no'] == 'MA0100') | (df['Customer no'] == 'C960')]
df = df.reset_index(drop=True)
df.head()

,Customer no,Order no,Customer´s order no,Order date,Product group descr,Qty,Amount,Cost amount
0,MA0100,4336914,150/2017,20170505,201 Circular duct fans,5,1787.85,1727.460
1,MA0100,4336940,158/2017,20170505,217 Smoke extract fans,1,455.80,383.055
2,MA0100,4349613,170/2017,20170517,217 Smoke extract fans,2,1730.92,1403.550
3,MA0100,4358454,174/2017,20170525,201 Circular duct fans,1,323.48,317.529
4,MA0100,4359730,183/2017,20170526,217 Smoke extract fans,1,493.13,379.366

Slicing the dates - Using loop

In [4]:
df['Order date'] = df['Order date'].astype(str)
df['New period'] = 0

start_time = time.time()

length, x = len(df['Order date']), 0

while x < length:
    value = df['Order date'].iloc[x]
    df['New period'].iloc[x] = value[0:6]
    x += 1

python_loop = time.time() - start_time 
print("--- %s seconds ---" % python_loop)

C:\Program Files\Anaconda3\lib\site-packages\pandas\core\indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

--- 41.53915357589722 seconds ---

Slicing the dates - Using Pandas vectorization

In [5]:
start_time = time.time()

def period(order_date):
    new_val = order_date.str.slice(0,6)
    return new_val

df['Period'] = period(df['Order date'])

pandas_loop = time.time() - start_time 
print("--- %s seconds ---" % pandas_loop)
ratio = python_loop / pandas_loop
print('Pandas loop is ', ratio, ' faster')

--- 0.0030002593994140625 seconds ---
Pandas loop is  13845.187380801017  faster

In [15]:
%%time
df['Amount'].mean()

Wall time: 1 ms

1382.6110714285721